# ----------------------------------
# Entorno de ejecución
# ----------------------------------
ENVIRONMENT=__status__
DEBUG_MODE=__mode__
MESSAGE_OUTPUT=2
SESSION_NAME=__session_name__

# ----------------------------------
# Base de datos
# ----------------------------------
ZCODE_DB_HOST=dbhost
ZCODE_DB_USER=dbuser
ZCODE_DB_PASS=dbpass
ZCODE_DB_NAME=dbname
ZCODE_DB_PREFIX=dbprefix
ZCODE_DB_CHARSET=utf8mb4

# ----------------------------------
# Llaves de verificación
# ----------------------------------
ZCODE_SCRIPT_KEY=__script__
ZCODE_VERIFY_KEY=__key__
ZCODE_VERIFY_PIN=__pin__
ZCODE_LICENSE=__license__