# Conexion a base de datos
config.inc.php

# Archivos de errores
*.log

# Ignorar todo en la carpeta 'cache'
cache/

# Ignorar todo en la carpeta 'storage'
storage/*

# Ignorar portadas
assets/images/avatar
assets/images/portadas
assets/images/uploads
assets/images/favicon

# Ignorar todo en la carpeta 'themes'
themes/*

# No ignorar la carpeta 'default'
!themes/default/

# Ignorar archivos
*.txt
.env
.lock
sitemap.xml