# Ignorar directorios
assets/images/avatar
assets/images/portadas
assets/images/uploads
backup/
cache/

# Themes
!themes/default
themes/*

# Ignorar archivos
.log
.lock
error.log
config.inc.php
pasos.txt
robots.txt