# Ignorar directorios
assets/images/avatar
assets/images/portadas
assets/images/uploads
backup/
cache/

# Ignorar archivos
inc/ext/Avatar.php
inc/ext/UUID.php
inc/ext/xsl-sitemap.xml
.log
.env
.lock
error.log
changelog.txt
config.inc.php
pasos.txt
robots.txt